[Unit]
Description=Thermometer (Temperature Sensor) Database Service
After=network.target

[Service]
User=ventus
WorkingDirectory=/home/ventus/Projects/windtunnel/microcontrollers
ExecStart=/usr/bin/python3 thermometer.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target