[Unit]
Description=Pitot Static (Air Speed Sensor) Database Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ventus/Projects/windtunnel/microcontrollers
ExecStart=/usr/bin/docker compose up -d pitot-static
ExecStop=/usr/bin/docker compose down pitot-static

[Install]
WantedBy=multi-user.target