[Unit]
Description=Tachometer (RPM Sensor) Database Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ventus/Projects/windtunnel/microcontrollers
ExecStart=/usr/bin/docker compose up -d tachometer
ExecStop=/usr/bin/docker compose down tachometer

[Install]
WantedBy=multi-user.target