[Unit]
Description=Air Speed Database Service
After=network.target

[Service]
User=ventus
WorkingDirectory=/home/ventus/Projects/windtunnel/microcontrollers
ExecStart=/usr/bin/python3 air_speed_database.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target